*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Helper Class */
.hero {
  height: 100vh;
  min-height: 80vh;
  position: relative;
}

.sec-pad {
  position: relative;
  padding: 5rem 0;
}

.section-header h2 {
  color: rgb(17, 24, 39);
}

/* Scroll2Bottom */

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid rgb(17, 24, 39);
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(17, 24, 39);
  border-radius: 50%;
  opacity: 1;
  animation-name: wheel;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
  overflow: none;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Navbar */

.nav-link,
.mail-link {
  position: relative;
  padding: 0.5rem 1rem;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.nav-link:before,
.nav-link:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
  left: 0;
  height: 0;
  width: 100%;
}
.nav-link:before {
  bottom: 0;
  border: 1px solid #000;
  border-top: 0;
  border-bottom: 0;
}

.nav-link:after {
  top: 0;
  height: 0;
}

.nav-link:hover {
  color: #fff;
  transition-delay: 0.5s;
}

.nav-link:hover:before,
.nav-link:hover:after {
  height: 100%;
}

.nav-link:hover:before {
  transition-delay: 0s;
}

.nav-link:hover:after {
  background: #000;
  transition-delay: 0.35s;
}

.active {
  background: #000;
  color: #fff;
}

/* Exp */

.exp,
.exp-header {
  position: relative;
  padding: 0 1em 3em 3em;
}
.exp::before,
.exp-header::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: -10px;
  left: 12px;
  width: 4px;
  background: #f7f7f7;
  z-index: 0;
}
.exp::after,
.exp-header::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f1f1f1;
  z-index: 0;
}

.exp h2 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.exp h3 {
  color: #1851f1;
  border: 1px solid #1851f1;
}

.exp h4 {
  margin: 0.1em 0 0.2em 0;
  padding: 0;
}
.exp h5 {
  margin: 0;
  padding: 0 0 0.3em 0;
  color: rgb(61, 61, 61);
}
.exp p,
.exp-header p {
  margin: 0.6em 0 0.2em 0;
  font-size: 1.125rem;
  /* line-height: 1.75rem; */
  letter-spacing: 0.05em;
  line-height: 2rem;
}
.exp p:last-child {
  margin-bottom: 0;
}

/* Skill */
.skill-title,
.testo-title {
  margin: 4em 0 2em;
  position: relative;
  z-index: 10;
  text-align: center;
}

.skill-title h2 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.1;
  text-align: center;
}
.skill-title h2 i {
  display: inline-block;
  position: relative;
  padding: 0;
}
.skill-title h2 i:before,
.skill-title h2 i:after {
  content: "";
  display: inline-block;
  width: 34px;
  margin: 3px 14px 3px 12px;
  border-bottom: 2px solid #555;
}

.skill {
  position: relative;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  margin: 0 0 1.5em 0;
  text-transform: uppercase;
  color: #1851f1;
  border: 1px solid #1851f1;
}

/* Testo */

.testo {
  position: relative;
  padding: 1.4em 1.8em;
  margin: 4.4em auto 0;
  border: 2px solid #f3f3f3;
}
html .testo img {
  display: block;
  margin: -78px auto 16px auto;
  width: auto;
  max-height: 94px;
  border-radius: 50%;
  border: 8px solid #fff;
}
.testo h3 {
  position: relative;
  text-align: center;
  margin: 0;
}
.testo h5 {
  margin-top: 0;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  color: rgba(28, 38, 43, 0.35);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.testo p {
  position: relative;
  margin: 1em 0 0.2em 0;
  font-size: 15px;
  text-align: center;
}
